@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

body, html {
    margin: 0;
    padding: 0;
}

header {
    background-color: #ede4de;
    display: flex;
    justify-content: space-between;
}

#logo {
    justify-content: left;
    border-radius: 100%;
    width: 15%;
    height: 15%;
    margin: 25px;
}

#title h1 {
    font-size: 100px;
    margin: 0;
    font-family: Montserrat, serif;
}
#title h2 {
    padding: 0;
    margin: 0 auto 0 auto;
    font-family: Inter, serif;
}

div#title {
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.links {
    background-color: #ede4de;
    display: flex;
    justify-content: center;
    gap: 25px;
    font-size: 25px;
    font-weight: 700;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 10px 0px 10px 0px;
}

.links a {
    text-decoration: none;
    color: black;
    font-family: Inter, serif;
}

main {
    display: flex;
    align-items: center;
    justify-content: space-evenly;  
}

#port {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    align-items: baseline;
}
.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    margin: 50px;

}

.projects img {
    width: auto;
    height: 200px;
}

.projects h1 {
    margin: 5px;
    font-family: Montserrat, serif;
    font-size: 25px;
}

.projects p {
    margin: 5px;
    font-family: Inter, serif;
}

.projects a {
    font-family: Inter, serif;
    font-weight: 700;
    color: black;
}

.placeholder {
    width: 70%;
    height: 20%;
    margin: 25px;
}

#aboutme {
    flex-direction: column;
    text-align: center;
    margin: 50px;
    max-width: 300px;
}
#aboutme h1{
    font-family: Montserrat, serif;
}

#aboutme p {
    font-family: Inter;
    font-weight: 500;
}
#me {
    border-radius: 100%;
    width: 20%;
    height: 20%;
    min-width: 250px;
}

footer {
    background-color: #ede4de;
}

footer a img{
    width: 35px;
    height: 35px;
    padding: 5px;
}


/*style sheet for verticle tabs*/
* {box-sizing: border-box}

/* Style the tab */
.tab {
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 30%;
  height: 450px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 70%;
  border-left: none;
  height: 450px;
}

.tabcontent img{
    max-width: 200px;
    max-height: 200px;
}