@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

#content{
    max-width: 1600px;
    width: 1000px;
    margin: 0 auto;
}

nav, a, #hero-msg h1, #hero-msg h4, .button-box, main section
{
    text-align: center;
}

nav a, .book, .join, footer a {
    text-align: center;
    color: #094074;
    text-decoration: none;
    font-size: 18px;
}

.rivers-card, .camping-card, .rapids-card  {
    margin: 200px 0;
}

.card-img {
    border: 10px solid #094074;
}

main section img {
    box-sizing: border-box;
}

nav a {
    padding: 35px;
}

.book, .join {
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.icon {
    padding-top: 10px;
}

.msg {
    padding: 35px;
}

#background {
    height: 725px;
}

body {
    background-color: #fcfbfb; 
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
}

header {
    background-color:#addca5;
    font-family: 'Covered By Your Grace', 'Open Sans';
    
}

nav a:hover {
    color: white;
}

.home-title {
    color: #094074;
    font-family: 'Secular One';
    font-size: 2em;
    margin-top: 10px;
}

h4 {
    color: #094074 ;
}

.book:hover, .join:hover {
    color: #addca5;
}

.msg h2 {
    color: #094074;
    font-family: 'Secular One';
}

.msg p {
    color: #094074;
    font-size: .8em;
    line-height: 1.5em;
    padding-bottom: 15px;
}

footer {
    background-color: #addca5;
    padding: 25px 50px;
    margin-top: 200px;
}

footer a {
    color: #094074;
}

footer a:hover {
    color: white;
}

footer .social img {
    padding-top: 15px;
}

.logo{
    width: 80px;
}

#logo_link {
    padding-top: 5px;
}

.icon{
    width: 80px;
}

#hero-img {
    width: 100%;
}

footer p {
    font-size: 1.2em;
    font-family: 'Covered By Your Grace', 'Open Sans';
}    

footer p a:hover {
    text-decoration: underline;
}    